.imgOfertaAcademica {
    height: 200px;
}


.image-card-container{
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.contactoCard{
    background-image: url(../../../assets/images/contacto/contact-bg.webp);
    background-size: cover;
}


.imageService{
    max-height: 200px;

    border-radius: 100%;
}