.imageIcon{
    width: 50px;
    height: 50px;
    background-color: red;
}

.itemRow{
    cursor: pointer;

}

.itemRow:hover{
    background-color: rgba(211, 211, 211, 0.5);

    border-radius: 5px;
}