<div class="container">
    
    <h1 class="titleFont text-caep fw-bold text-center text-md-start">Oferta academica</h1>

    <!--BANNER OFERTA ACADEMICA-->
    <section class="d-none d-md-block">
        <div class="row bg-caep mt-3 rounded-more px-3">
            <div class="col-12 col-md-auto d-flex justify-content-center p-2 ">
                <img src="../../../assets/images/oferta/oferta-academica-dark.webp" class="imgOfertaAcademica" alt="">
            </div>
            <div class="col d-flex align-items-center">
                <div class="w-100">
                
                <br>
                <span class="lead fw-bold text-white ">
                    Conoce nuestras ofertas academicas, cursos y talleres que tenemos diseñados para ti 
                </span>
                
                <p class="small text-white pt-2 opacity-75">
                    Comunícate con nosotros a través de WhatsApp o por teléfono y con gusto te atenderemos para asesorarte al inscribirte en algún taller o curso
                </p>
                <div class="row">
                    <div class="col">
                        
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-link" type="button">
                            <span class="text-light">
                                <i class="bi bi-info-circle"></i> 
                                <span class="ms-2">
                                    Solicitar más informacion
                                </span>
                            </span>
                        </button>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-light" type="button">
                            <span class="">
                                <i class="bi bi-play-fill"></i>
                                <span class="ms-2">
                                    Ver video
                                </span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>

    <!--SECTION SMALL-->
    <section class="d-block d-md-none text-center">
        <span class="small fw-bold">
            Conoce nuestras ofertas academicas, cursos y talleres que tenemos diseñados para ti 
        </span>

    </section>

    <!--FILTRO DE CURSOS-->

    <div class="row my-3">
      
   
        <div class="col-md-4 col-12 d-flex justify-content-start">
            <div class="input-group-text bg-white border-0" >
                <i class="bi bi-search"></i>
            </div>

            <input class="form-control" placeholder="Buscar curso por nombre" type="text" name="">
        </div>

        <div class="col-md-8 col-12 d-flex justify-content-end">
            <div class="border-0" ngbDropdown #myDrop="ngbDropdown">
                <button type="button" class="btn  btn-outline-primary border-0 me-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Modalidad: {{modalidadSeleccionada}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownManual">
                    
                  <button ngbDropdownItem *ngFor="let modalidad of ListModalidades" (click)="seleccionarModalidad(modalidad.tipo)" > {{modalidad.tipo}}</button>
                </div>
              </div>

             
        </div>

    </div>

    <!--ROW DE CURSOS-->
    <div class="row">
        <div class="col-12  col-md-6 col-lg-4  pb-3" *ngFor="let item of [0,00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]">
            <div class="card shadow-sm rounded-more" >
                    <img class="image-card-container rounded-more" src="https://www.alpadia.com/sites/default/files/styles/medium_big_sm/public/school/featured/french-language-courses-900x600.jpg?itok=_5l4_pRz" alt="">
                <div class="card-body">
                    <span class="fw-bold text-lines-1">Nombre del curso taller o informacion </span>
                    <span class="small text-lines-1">Info extra del cursoasdasd </span>
                    <br>
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-light me-2" type="button">
                                <i class="text-primary bi bi-telephone"></i>
                            </button>
                            <button class="btn btn-light " type="button">
                                <i class="text-primary bi bi-whatsapp"></i>
                            </button>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-primary bg-caep" type="button">Conocer más</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>

</div>