<app-appbar-component></app-appbar-component>


<div class="container py-5">
    
    <div class="row ">
        <div class="col-12 d-flex justify-content-center">
            <img  
              class="brandImage " 
              src="../../../assets/images/brand/icon-logo-webp.webp"
              alt="Logo CAEP"
            />
          </div>
          <div class="col-12 text-center fw-bold py-3 lead">
              Bienvenido administrador
          </div>
          <div class="col-12 d-flex justify-content-center ">
                
            <div class="inputGrid">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="my-addon">
                            <i class="bi bi-person-bounding-box"></i>
                        </span>
                    </div>
                    <input class="form-control" type="text" placeholder="Nombre de usuario">
                </div> 
                <div class="input-group mt-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="my-addon">
                            <i class="bi bi-lock-fill"></i>
                        </span>
                    </div>
                    <input class="form-control" type="password" placeholder="Contraseña">
                </div>
                <br> 
                <button class="btn btn-primary w-100" type="button">Iniciar sesion</button>
                <button class="btn btn-sm btn-link w-100 mt-3" type="button">
                    <span class="small ">
                            ¿Olvidaste tu contraseña? Comunicate con el administrador
                    </span>
                </button>


            </div>

              
           
          </div>
    </div>

</div>