<!--ADMIN-->
<section >

    <!--EDITOR MODAL-->
    <ng-template #content let-modal>
        
        <div class="container py-3 overflow-auto">
            <div class="row ">
                <div class="col d-flex align-items-center">
                    <button (click)="modal.dismiss('Cross click')" class="btn text-primary fw-bold px-0" type="button"><i class="bi bi-chevron-left"></i>Salir</button>
                </div>
                
                <div class="col-auto">
                    <button (click)="deleteWarinig()" class="btn text-danger fw-bold px-0" type="button">Eliminar</button>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 lead fw-bold">
                    Crear evento
                </div>
            </div>

            <div class="row mt-3">
               <div class="col-12 col-lg-6">

                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Nombre del evento</label>
                    </div>
                  <div class="form-floating">
                    <textarea class="form-control largeTextArea" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                    <label for="floatingTextarea">Descripcion</label>
                  </div>
               </div>
               <div class="col-12 col-lg-6">
                <form>
                    <label class=" imageSelector border rounded-more d-flex justify-content-center  align-items-center " for="fileUpload">
                        <section *ngIf="selectedImageSrc==null || isLoadingImage==true ">
                            <div class="row opacity-75">
                                <div class="col-12 small text-muted  text-center">
                                    Seleccionar imagen
                                </div>
                                <div class="col-12 text-center">
                                    <i class="bi bi-card-image h1 text-muted" *ngIf="isLoadingImage==false"></i>
                                    <div class="spinner-border text-primary mt-2" role="status" *ngIf="isLoadingImage==true">
                                        <span class="visually-hidden">Loading...</span>
                                      </div>
                                </div>
                                
                            </div>
                        </section> 

                        <section *ngIf="selectedImageSrc!=null && isLoadingImage==false">
                            <div class="row ">
                                
                                <div class="col-12 small text-muted">
                                    <img class="selectedImage" src="{{selectedImageSrc}}">
                                </div>
                                
                            </div>
                        </section>
                    </label>
                    <div class="row" *ngIf="selectedImageSrc!=null && isLoadingImage==false">
                        <div class="col d-flex small fw-bold align-items-center">
                            {{selectedImageName}}
                        </div>
                       
                    </div>
                </form>
                  <input type="file" class="visually-hidden" accept="image/*" id="fileUpload" #selectorImagen  (change)="imageSelected($event)">
               </div>
            </div>
            
            <div class="row mt-3">
                <div class="col">
                    <button (click)="uploadImage()" class="btn btn-primary w-100" type="button">Subir imagen</button>
                </div>
            </div>
        
        </div>

    </ng-template>
      
      <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
      
      <hr>

    <div class="row" >
        <div class="col lead fw-bold">
            Administrar Eventos
        </div>
        <div class="col-auto ">
            <button class="btn  btn-primary" type="button" >
                <i class="bi bi-plus-lg"></i>
                Crear evento 
            </button>
        </div>
    </div>

    <div class="row py-3 ">

        <!--LIST ITEMS-->
        <div class="col-12 py-3 border-bottom itemRow "   *ngFor="let oferta of listEventos">
            <div class="row">
                <div class="col-auto">
                <div class="imageIcon rounded-more">

                </div> 
                </div>
                <div class="col ">
                    <span class="fw-bold text-lines-1 ">Titulo de la publicacion Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit amet, deserunt voluptas in, blanditiis quis ipsum quod expedita eveniet est incidunt. Iusto pariatur animi id necessitatibus, expedita provident doloribus reprehenderit!</span>
                    <span class="small text-lines-1 ">Descripcion de la publicacion Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore ut asperiores placeat voluptatem qui harum nam iure magnam aperiam modi illo saepe vero, inventore minus nisi repellendus ullam sunt deserunt?</span>
                </div>
                <div class="col-auto  d-flex align-items-center  justify-content-center">
                        <span class=" small text-muted">22/01/2001</span>
                </div>
                
            </div>
        </div>
        
    </div>

</section>


