<!--ADMIN-->
<section *ngIf="mostrarEditor==false">
    <div class="row" >
        <div class="col lead fw-bold">
            Administrar Eventos
        </div>
        <div class="col-auto ">
            <button class="btn  btn-primary" type="button" (click)="abrirEditor()">
                Crear curso 
            </button>
        </div>
    </div>

    <div class="row py-3 ">

        <!--LIST ITEMS-->
        <div class="col-12 py-3 border-bottom itemRow "   *ngFor="let oferta of listEventos">
            <div class="row">
                <div class="col-auto">
                <div class="imageIcon rounded-more">

                </div> 
                </div>
                <div class="col ">
                    <span class="fw-bold text-lines-1 ">Titulo de la publicacion Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit amet, deserunt voluptas in, blanditiis quis ipsum quod expedita eveniet est incidunt. Iusto pariatur animi id necessitatibus, expedita provident doloribus reprehenderit!</span>
                    <span class="small text-lines-1 ">Descripcion de la publicacion Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore ut asperiores placeat voluptatem qui harum nam iure magnam aperiam modi illo saepe vero, inventore minus nisi repellendus ullam sunt deserunt?</span>
                </div>
                <div class="col-2  d-flex align-items-center  justify-content-center">
                        <span class=" small text-muted">22/01/2001</span>
                </div>
                
            </div>
        </div>
        
    </div>

</section>


<!--EDITOR-->

<section *ngIf="mostrarEditor==true">
   <div class="row">
       <div class="col">
           <button class="btn text-primary" type="button">
            <i class="bi bi-chevron-compact-left"></i>
               Regresar</button>
       </div>
   </div>
</section>
