<app-appbar-component></app-appbar-component>

<div class="container">
    
    <h1 class="titleFont text-caep fw-bold text-center text-md-start">
        {{pageInfo.titulo}}
    </h1>

    <!--BANNER OFERTA ACADEMICA-->
    <section class="d-none d-md-block">
        <div class="row bg-caep mt-3 rounded-more px-3">
            <div class="col-12 col-md-auto d-flex justify-content-center p-2 ">
                <img src="{{pageInfo.icon}}" class="imgOfertaAcademica" alt="">
            </div>
            <div class="col d-flex align-items-center">
                <div class="w-100">
                <br>
                <span class="lead fw-bold text-white ">
                    {{pageInfo.subtitulo}}
                </span>
                
                <p class=" text-white pt-2 small">
                    {{pageInfo.descripcion}}
                </p>
                <div class="row">
                    <div class="col">
                        
                    </div>
                    <div class="col-auto">
                        <button (click)="secondaryBtn.function()" class="btn btn-link" type="button">
                            <span class="text-light">
                                <i class="bi {{secondaryBtn.icono}}"></i> 
                                <span class="ms-2">
                                   {{secondaryBtn.texto}}
                                </span>
                            </span>
                        </button>
                    </div>
                    <div class="col-auto">
                        <button (click)="primaryBtn.function()" class="btn btn-light" type="button">
                            <span class="">
                                <i class="bi {{primaryBtn.icono}}"></i>
                                <span class="ms-2">
                                   {{primaryBtn.texto}}
                                </span>
                            </span>
                        </button>
                    </div>
                    
                </div>
            </div>
            </div>
        </div>
    </section>

    <!--SECTION SMALL-->
    <section class="d-block d-md-none text-center">
        <span class="small fw-bold">
            Forma parte de nuestros grupos de supervisión clínica


            
        </span>
        

        <div class="row mt-3">
                   
            <div class="col d-flex justify-content-between ">
                <button class="btn  btn-light" type="button">
                    <span class="">
                        <i class="bi bi-whatsapp"></i>
                        <span class="ms-2">
                            Solicitar más info
                        </span>
                    </span>
                </button>

                <button class="btn ms-2 btn-primary" type="button">
                    <span class="">
                        <i class="bi bi-telephone"></i>
                        <span class="ms-2 ">
                            Estoy interesado
                        </span>
                    </span>
                </button>
            </div>
            
        </div>
       

    </section>


    <section class="mt-4">
        <div class="row lead fw-bold ">
            <div class="col text-center text-md-start">
                    Descripcion de nuestros grupos
            </div>
        </div>
        <div class="row mt-3">

            <div class="col-12 col-md-6 d-block d-md-none">
                <iframe width="100%" height="260" src="https://www.youtube-nocookie.com/embed/voZ4vXFrqOQ?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
               </div>

            <div class="col-12 col-md-6">
                   <li>
                       El objetivo primordial del proceso de la supervisión clínica, es adquirir conocimiento y experiencia desde todos los ángulos posibles, a través de la teoría como de la técnica, que permita reformular los contenidos hallados y tomar consciencia de los conflictos que no pueden ser conscientes 
                   </li>
                   <br>
                   <li>
                    Es de suma importancia captar aquellos aspectos latentes, que no se han podido elaborar en la relación terapeuta paciente, con el fin de que el estudiante adquiera mayor confianza, y trascendencia en su práctica clínica.
                    </li>

                    <br>
                   <li>
                    En compañía de su supervisor, como una unidad continua de comunicación para desempeñar lo más adecuadamente posible su tarea como psicoterapeuta.
                    </li>
            </div>

            <div class="col-12 col-md-6 d-none d-md-block">
             <iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/voZ4vXFrqOQ?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </section>

   

</div>






